<div class="card" style="border-color:darkblue;">
  <p-carousel [value]="product.ImageUrls" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-img pTemplate="item">
      <img class="card-img-top"  style="max-height: 300px; max-width: 300px;" [src]="img.imageUrl" [alt]="product.title">
    </ng-template>
</p-carousel>
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text">{{product.type}}</p>
    <p class="card-text">{{product.price}}</p>
    <p-rating [ngModel]="product.rating" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>    
    <button type="button" [routerLink]="['/productsmanager',product.id,'edit']" class="btn btn-primary">Edit</button>
  </div>
</div>
