<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a routerLink="add">Add Product</a>
                    </li>
                    <li class="list-group-item" *ngFor="let product of filteredProducts">
                        <a [routerLink]="[product.id]">{{product.title}}</a>
                        <button class="close" type="button" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </li>

                </ul>
                <mat-paginator [length]="productsList.length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]" 
                    (page)="pageEvent = getFilteredData($event)">
                </mat-paginator>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right" key="tr"></p-toast>