<h3>Products List</h3>
<div basic-highlight>Basic Highlight Example</div>
<!-- <div better-highlight [defaultColor]="'chartreuse'">Better Highlight Example</div> -->
<div [better-highlight]="'chartreuse'" highlight="yellow">Better Highlight Example</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                Search By Name:
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Filter">
                </div>
            </div>
            <!-- <div *unless="filterText.length==0" class="col-md-4">
                {{filterText}}
            </div> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                Category:
            </div>
            <div *ngFor="let category of categories" class="col-md-2">
                <input class="form-check-input" type="checkbox" [(ngModel)]="category.isChecked"
                    (change)="changeSelection()" [value]="category.type"> {{category.type}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-4">
                Sort By:
            </div>
            <div class="col-md-8">
                <select class="form-control" [(ngModel)]="sortBy">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                    <option value="id">Id</option>
                </select>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-2">
        <cart [cart]="addedToCart"></cart>
    </div> -->
</div>
<div class="row">
    <div class="col-md-3"
        *ngFor="let prod of products | filter : filterText :'title' | filterbycategory:selectedCategories | sort:sortBy">
        <product-thumbnail [pd]="prod" (addtocart)="Received($event)"></product-thumbnail>
    </div>
</div>