<h3>String Interpolation Examples</h3>

<div class="row">
    <div class="col-md-6">
        <h4>Things we can do using String Interpolation</h4>
        <ul class="list-group">
            <li class="list-group-item">4+5 = {{4+5}}</li>
            <li class="list-group-item">{{fName}}</li>
            <li class="list-group-item">{{fName +" "+ lName}}</li>
            <li class="list-group-item">{{num1}} Number example</li>
            <li class="list-group-item">{{person1.Name+" is from "+person1.Address}}</li>
            <li class="list-group-item">
                <img src={{imageUrl}} />
            </li>            
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Things we cannot do using String Interpolation</h4>
        <ul class="list-group">
            <!-- <li class="list-group-item">{{new Person()}} Cannot write new Objects in  S I expression</li> -->
            <!-- <li class="list-group-item">{{fName, lName}} Cannot write new Objects in  S I expression</li> -->
            <!-- <li class="list-group-item">{{fName; lName}} Cannot write new Objects in  S I expression</li> -->
        </ul>
    </div>
</div>